body { margin-top: 50px; }
footer { margin: 50px 0; }

@media(max-width:768px) {
  .container { margin: 0 15px; }
}

section{
    margin: auto;
    width: 1000px;
}

.handoutslide{
  width: 60%;
  // float: left;
  display: inline-block;
  align: top;
  vertical-align:top;
  // float:left;
}

.note{
  max-width: 35%;
  padding-top:10px;
  display: inline-block;
  font-size: 12pt;
  vertical-align:top;
  // float: right;
}
